@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400&display=swap");
.barraNavegacion {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  transition: 0.6s;
  padding: 20px;
  background-color: aliceblue; }

.scrollDown {
  padding: 5px;
  background-color: rgba(240, 248, 255, 0.97);
  transition: 1s;
  box-shadow: 0px 0px 5px; }

.offcanvas {
  background-color: #f5faff; }

.offcanvas-header {
  padding-right: 36px; }
  .offcanvas-header img {
    height: 70px;
    padding-left: 20px; }
  .offcanvas-header button {
    color: black;
    opacity: 70%; }

.offcanvas-body ul {
  list-style: none;
  padding-left: 0;
  padding-left: 20px; }

.offcanvas-body a {
  color: black;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  line-height: 2.6em;
  font-size: 1.5em; }

.offcanvas-footer {
  padding-left: 36px;
  padding-bottom: 1.5em; }
  .offcanvas-footer a {
    text-decoration: none;
    color: black;
    margin-bottom: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif; }

@media (max-width: 900px) {
  .mobileNavbarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; }
    .mobileNavbarContainer img {
      height: 50px; }
    .mobileNavbarContainer button {
      border: 2px solid #d4ebff;
      border-radius: 5px;
      padding: 2px 5px;
      color: #484d51; }
      .mobileNavbarContainer button:active {
        background-color: #e6f3ff; }
  .desktopNavbarContainer {
    display: none; } }

@media (min-width: 901px) {
  .mobileNavbarContainer {
    display: none; }
  .desktopNavbarContainer {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row; }
    .desktopNavbarContainer .logoNavbar {
      height: 80px;
      margin-right: 15px; }
    .desktopNavbarContainer ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      align-content: center;
      margin-bottom: 0;
      padding-left: 0; }
      .desktopNavbarContainer ul li {
        font-size: 1.2em;
        padding: 15px;
        font-family: "Montserrat", sans-serif; }
      .desktopNavbarContainer ul a {
        color: black;
        text-decoration: none; } }

#inicio {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("./images/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  -webkit-animation: change 10s infinite ease-in-out;
  animation: change 10s infinite ease-in-out; }
  #inicio .mainContent .logoInicio {
    height: 400px; }
    #inicio .mainContent .logoInicio img {
      height: 100%; }
  #inicio .mainContent .textoInicio {
    line-height: 2.5em;
    overflow-wrap: break-word;
    font-family: "Montserrat", sans-serif; }
    #inicio .mainContent .textoInicio h1 {
      font-weight: 400; }
    #inicio .mainContent .textoInicio h2 {
      font-weight: 300; }
    #inicio .mainContent .textoInicio a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      text-decoration: none;
      margin-top: 12px;
      width: 100%;
      height: 50px;
      border: 0;
      border-radius: 25px;
      background-color: white;
      box-shadow: 0px 0px 5px #717a83;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 1em;
      transition: 0.5s; }
      #inicio .mainContent .textoInicio a:hover {
        font-size: 1.1em;
        background-color: aliceblue; }

@-webkit-keyframes change {
  0% {
    background-image: url("./images/banner1.jpg"); }
  33% {
    background-image: url("./images/banner2.jpg"); }
  66% {
    background-image: url(".images/banner3.jpg"); } }

@keyframes change {
  0% {
    background-image: url("./images/banner1.jpg"); }
  33% {
    background-image: url("./images/banner2.jpg"); }
  66% {
    background-image: url("./images/banner3.jpg"); } }

@media (min-width: 701px) {
  .mainContent {
    padding: 185px 0 60px;
    display: flex;
    max-width: 75vw;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px; } }

@media (max-width: 700px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 1.5em; }
    .mainContent .logoInicio {
      max-height: 200px; }
    .mainContent .textoInicio {
      margin-top: 1em;
      text-align: center; } }

#servicios {
  display: flex;
  align-items: center;
  flex-direction: column; }
  #servicios .titulos {
    border-top: 0; }
  #servicios .gridServicios {
    gap: 2em 1em;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
  #servicios .servicio .tituloDeServicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 47px;
    margin-bottom: 0.5em; }
    #servicios .servicio .tituloDeServicio h4 {
      font-size: 1.2em;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      font-weight: 500; }
  #servicios .servicio img {
    max-width: 100%;
    border: 1px solid blue;
    border-radius: 12px; }
  #servicios .servicio ul {
    margin-top: 1em;
    padding-left: 0; }
    #servicios .servicio ul li {
      font-family: "Roboto", sans-serif;
      line-height: 1.7em;
      margin-left: 15%;
      margin-right: 5%;
      font-size: calc(1rem + 0.1vw); }
      #servicios .servicio ul li::marker {
        color: var(--clr);
        font-size: 1.5em; }

#sobreNosotros {
  display: flex;
  align-items: center;
  flex-direction: column; }
  #sobreNosotros .flexboxSobreNosotros {
    gap: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #sobreNosotros .flexboxSobreNosotros .imagenSobreNosotros {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: 450px; }
      #sobreNosotros .flexboxSobreNosotros .imagenSobreNosotros img {
        width: 100%; }
      #sobreNosotros .flexboxSobreNosotros .imagenSobreNosotros h2 {
        font-size: 400;
        font-family: "Montserrat", sans-serif; }
    #sobreNosotros .flexboxSobreNosotros .textoSobreNosotros {
      max-width: 450px; }
      #sobreNosotros .flexboxSobreNosotros .textoSobreNosotros h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        margin-bottom: 0.25em; }
      #sobreNosotros .flexboxSobreNosotros .textoSobreNosotros p {
        font-size: 1.2em;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }

@media (max-width: 1165px) {
  .textoSobreNosotros h2, .textoSobreNosotros p {
    text-align: center; } }

#contacto {
  display: flex;
  align-items: center;
  flex-direction: column; }
  #contacto .flexboxContacto {
    width: 100%;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 500px));
    justify-content: center;
    padding: 3em 1em; }
    #contacto .flexboxContacto form {
      display: flex;
      flex-direction: column;
      width: 100%; }
      #contacto .flexboxContacto form label {
        margin-bottom: 0.5em;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2em; }
      #contacto .flexboxContacto form label, #contacto .flexboxContacto form input {
        width: 100%; }
      #contacto .flexboxContacto form input {
        padding: 0 0.7em;
        margin-bottom: 2em;
        height: 2.5em; }
      #contacto .flexboxContacto form textarea {
        padding: 0.5em 0.7em;
        width: 100%; }
      #contacto .flexboxContacto form input, #contacto .flexboxContacto form textarea {
        border-radius: 6px;
        border: 0;
        box-shadow: 0px 0px 3px #717a83; }
      #contacto .flexboxContacto form button {
        margin-top: 32px;
        width: 100%;
        height: 50px;
        border: 0;
        border-radius: 6px;
        background-color: white;
        box-shadow: 0px 0px 3px #717a83;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 1em;
        transition: 0.5s;
        color: black; }
        #contacto .flexboxContacto form button:hover {
          font-size: 1.1em;
          background-color: #f9f9f9; }

.whatsappLogo {
  cursor: pointer;
  position: fixed;
  z-index: 10;
  bottom: 25px;
  right: 25px;
  padding: 12px;
  color: white;
  background-color: #25d366;
  border-radius: 50%;
  transition: 1s; }
  .whatsappLogo:hover {
    transform: scale(1.1);
    translate: 0 -7px;
    color: #25d366;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px #25d366; }

footer {
  height: 200px;
  width: 100%;
  background-color: #a9c8e6;
  position: absolute;
  bottom: 0; }

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  line-height: normal;
  margin-bottom: 0; }

body {
  position: relative;
  padding-bottom: calc(200px + 2em); }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
  line-height: normal; }

.titulos {
  width: 100%;
  text-align: center;
  padding: 25px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-family: "Montserrat", sans-serif; }

#servicios, #sobreNosotros, #contacto {
  max-width: 90%;
  margin: auto; }

.gridServicios, .flexboxSobreNosotros, .flexboxContacto {
  margin: 30px 0 60px 0;
  width: 100%; }
