@import "../variables.scss";
#contacto{
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .titulos{
        text-align: center;
        width: 80%;
        padding: 25px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: 400;
        font-family: $titulos;
    }
}
