@import "../variables.scss";
#inicio {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("./images/banner1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    -webkit-animation: change 10s infinite ease-in-out;
    animation: change 10s infinite ease-in-out;
    .mainContent{
        .logoInicio {
            height: calc(300px + 0.8vw);
            
            img {
                height: 100%;
            }
        }
        .textoInicio {
            line-height: 2.5em;
            padding: 10px;
            font-family: $titulos;
            h1{
                font-weight: 500;
            }
            h2{
                font-weight: 400;
            }
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: black;
                text-decoration: none;
                margin-top: 12px;
                width: 100%;
                height: 50px;
                border: 0;
                border-radius: 25px;
                background-color: white;
                box-shadow: 0px 0px 5px rgb(113, 122, 131);
                font-family: $titulos;
                font-weight: 500;
                font-size: 1em;
                transition: 0.5s;
                &:hover{
                    font-size: 1.1em;
                    background-color: aliceblue;
                }
            }
        }
    }
}
@-webkit-keyframes change{
    0%{
        background-image: url("./images/banner1.jpg");
    }
    33%{
        background-image: url("./images/banner2.jpg");
    }
    66%{
        background-image: url(".images/banner3.jpg");
    }
}
@keyframes change {
    0%{
        background-image: url("./images/banner1.jpg");
    }
    33%{
        background-image: url("./images/banner2.jpg");
    }
    66%{
        background-image: url("./images/banner3.jpg");
    }
}
@media (min-width: 1000px) {
    .mainContent{
        padding: 185px 0 60px;
        display: flex;
        margin: auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}
@media (max-width: 1000px) {
    .mainContent{
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        align-items: center;
        margin-top: 110px;
        margin-bottom: 1.5em;
        .logoInicio{
            max-height: 200px;
        }
        .textoInicio{
            margin-top: 1em;
            text-align: center;
        }
    }
}
@media (min-width: 901px) and (max-width: 1000px) {
    .mainContent{
        margin-top: 150px;
    }
}