@import "../variables.scss";
.barraNavegacion {
    transition: 0.6s;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
    padding: 15px 12px;
    display: flex;
    .logoNavbar {
        display: flex;
        justify-content: flex-end;
        height: 80px;
    }
    li{
        margin: 0 15px;
        a{
            font-family: $titulos;
            color: black;
            text-decoration: none;
            line-height: 2.6em;
            font-size: 1.2em;
        }
    }
}

.scrollDown {
    padding: 5px;
    background-color: rgba(240, 248, 255, 0.9);
    transition: 1s;
    box-shadow: 0px 0px 5px;
}



@media (min-width: 992px) {
    .navbar-expand-lg-own{
        ul{
            margin: auto;
        }
    }
}