@import "../variables.scss";
#servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    .titulos{
        text-align: center;
        width: 80%;
        padding: 25px;
        border-bottom: 1px solid black;
        font-weight: 400;
        font-family: $titulos;
    }
    .gridServicios{
        gap: 1em;
        width: 80%;
        padding-top: 30px;
        padding-bottom: 60px;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .servicio{
        .tituloDeServicio{
            min-height: 46px;
        }
        li{
            font-family: $subtitulos;
            line-height: 1.7em;
            margin-left: 15%;
            &::marker{
                color: var(--clr);
                font-size: 1.5em;
            }
        }
        h3{
            text-align: center;
            font-family: $titulos;
        }
        img{
            min-width: 167px;
            max-width: 100%;
        }
    }
}