@import "../variables.scss";
#servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    .titulos{
        border-top: 0;
    }
    .gridServicios{
        gap: 2em 1em;
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .servicio{
        .tituloDeServicio{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 47px;
            margin-bottom: 0.5em;
            h4{
                font-size: 1.2em;
                text-align: center;
                font-family: $titulos;
                font-weight: 500;
            }
        }
        img{
            max-width: 100%;
            border: 1px solid blue;
            border-radius: 12px;
        }
        ul{
            margin-top: 1em ;
            padding-left: 0;
            li{
                font-family: $descripciones;
                line-height: 1.7em;
                margin-left: 15%;
                margin-right: 5%;
                font-size: calc(1rem + 0.1vw);
                &::marker{
                    color: var(--clr);
                    font-size: 1.5em;
                }
            }
        }
    }
}