@import "../variables.scss";
#sobreNosotros{
    display: flex;
    align-items: center;
    flex-direction: column;
    .gridSobreNosotros{
        width: 80%;
        gap: 2em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 60px;
        .imagenSobreNosotros{
            display: flex;
            flex-direction: column;
            text-align: center;
            max-width: 450px;
            img{
                width: 100%;
            }
            h2{
                font-family: $titulos;
            }
        }
        .textoSobreNosotros{
            max-width: 450px;
            h2{
                font-family: $titulos;
                margin-bottom: 0.25em;
            }
            p{
                font-size: 1.2em;
                font-family: $subtitulos;
            }
        }
    }
}
@media (max-width: 1165px){
    .textoSobreNosotros{
        h2, p{
            text-align: center;
        }
    }
}