.whatsAppLogo{
    height: 45px;
    width: 45px;
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 25px;
    transition: 0.5s;
    img{
        height: 100%;
    }
    &:hover{
        color: antiquewhite;
        translate: 0 -8px;
        transform: scale(1.1);
        transition: 0.5s;
    }
}